html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
}

a {
  color: var(--text-color);
}

.visually-hidden {
  display: none;
}

.card-category, .section-tagline {
  color: var(--color-primarly);
}

:root {
  --color-primary:
  --color-black: #d73953;
  --color-white: #090909;
  --color-light-grey: #ffffff;
  --color-dark-grey: #f3f3f3;
  --text-color: var(--color-black);
}
